/*general*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");
* {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}
* img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #fffbfc;
  text-transform: uppercase;
  text-decoration: none;
}

.link-menu:hover {
  zoom: 120%;
  border-bottom: 2px solid #fffbfc;
}

body {
  background-color: rgba(0, 0, 0, 0.8431372549);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

/*layout*/
header nav .toggle-menu {
  position: absolute;
  display: none;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 50px;
}
header nav .menu {
  position: relative;
  width: 100%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fb3640;
  z-index: 100;
  font-size: 1.25vw;
}
header nav .menu li {
  padding: 1em;
}
header nav .menu .logo {
  width: 3.75vw;
}

/*carrusel*/
aside {
  margin-top: 100;
  display: flex;
  flex-direction: column;
}
aside img {
  display: flex;
  justify-content: center;
  height: 800;
  min-width: 250;
  padding-left: 150;
  padding-right: 150;
}
aside p {
  min-width: 100;
  font-size: 2vw;
  margin-top: 60;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

/*carrusel*/
/*index*/
/*video/frase*/
main h1 {
  color: #fffbfc;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
main .video {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .video iframe {
  border-radius: 5%;
  width: 1250px;
  height: 750px;
  margin-left: 50px;
  margin-right: 50px;
}

/*video/frase*/
/*index*/
/*servicios*/
.serv-main {
  display: flex;
}
.serv-main ul {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fb3640;
  border-radius: 0.5rem;
  padding: 0.25rem;
  box-sizing: border-box;
  list-style: none;
  margin-top: 10;
  margin-left: 10;
}
.serv-main ul li {
  width: 10vw;
  text-align: center;
  font-size: 2vw;
  padding: 3.5rem 0;
}
.serv-main ul li:hover {
  border-bottom: 2.5px solid #fffbfc;
}

.bf .corte {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10;
}
.bf .corte img {
  width: 35vw;
}
.bf .info-barber {
  color: #fffbfc;
  padding-left: 50;
  padding-right: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.5vw;
  min-width: 175;
}

/*servicios*/
/*quienes somos*/
.qs-main {
  display: flex;
  margin-top: 100;
}
.qs-main img {
  width: 50vw;
  padding: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qs-main h2 {
  color: #fffbfc;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  padding-left: 25;
  padding-right: 25;
}
.qs-main p {
  color: #fffbfc;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5vw;
  padding: 30;
}

/*quienes somos*/
/*peluqueros*/
.p-main {
  display: flex;
  padding: 20;
}
.p-main img {
  width: 60%;
  z-index: -10;
}
.p-main .t-p h2 {
  color: #fffbfc;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  padding-left: 10;
  padding-right: 10;
}
.p-main .t-p p {
  color: #fffbfc;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  padding-left: 20;
  padding-right: 20;
}

.p-aside {
  margin-top: 100;
}

.p-div {
  margin-top: 100;
}
.p-div h2 {
  color: #fffbfc;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
}
.p-div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.p-div ul li {
  font-size: 3vw;
}
.p-div ul li:hover {
  border-bottom: 3px solid #fffbfc;
  zoom: 1.5;
}

/*peluqueros*/
/*tarjetas*/
.infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infor h3 {
  margin-top: 25;
  font-size: 5vw;
}
.infor .tarjetas {
  margin-top: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infor .tarjetas .card {
  width: 17em;
  height: 22.5em;
  background: #000000;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 50;
  margin-right: 50;
  font-size: 1.2vw;
}
.infor .tarjetas .card span {
  font-weight: bold;
  color: #fffbfc;
  text-align: center;
  display: block;
  font-size: 1em;
}
.infor .tarjetas .card .info {
  font-weight: 400;
  color: #fffbfc;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}
.infor .tarjetas .card .img {
  width: 4.8em;
  height: 4.8em;
  background: #fffbfc;
  border-radius: 15px;
  margin: auto;
}
.infor .tarjetas .card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.infor .tarjetas .card a {
  color: #fffbfc;
  transition: 0.4s ease-in-out;
}
.infor .tarjetas button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

/*tarjetas*/
/*mapa*/
.widget {
  margin-top: 100;
  margin-left: 50;
  margin-right: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget h3 {
  color: #fff;
  font-size: 2vw;
}
.widget iframe {
  width: 100%;
}

/*mapa*/
footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6666666667);
  display: flex;
  flex-direction: column;
  bottom: 0;
}
footer button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
  height: auto;
  transition: 0.5s linear;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1vw;
  color: #fffbfc;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
footer button:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}
footer button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}
footer button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
footer button:hover:before {
  border-color: #fffbfc;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}
footer button:hover:after {
  border-color: #fffbfc;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.info {
  font-size: 1.5vw;
  text-align: center;
  margin-top: 0;
}
.info a {
  text-decoration: underline;
}

/*responsive*/
@media screen and (max-width: 768px) {
  /*index*/
  body {
    /*header-navbar*/
    /*header-navbar*/
    /*video/frase*/
    /*video/frase*/
    /*carrusel*/
    /*carrusel*/
    /*tarjetas*/
    /*tarjetas*/
    /*mapa*/
    /*mapa*/
    /*footer*/
    /*footer*/
  }
  body header nav .toggle-menu {
    position: fixed;
    display: flex;
    width: 35px;
    z-index: 1000;
  }
  body header nav .menu {
    position: fixed;
    top: 0;
    flex-direction: column;
    transition: transform 0.3s;
    transform: translateX(500%);
    font-size: 7vw;
  }
  body header nav .menu .logo {
    width: 25vw;
  }
  body header nav .menu--show {
    transform: translateX(0);
  }
  body main {
    margin-top: 60;
  }
  body main .video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .video iframe {
    width: 470;
    height: 250;
    margin-left: 25px;
    margin-right: 25px;
  }
  body aside {
    margin-top: 25;
  }
  body aside img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 500;
    padding-left: 37px;
    padding-right: 37px;
  }
  body aside p {
    position: relative;
    font-size: 18px;
  }
  body .infor h3 {
    margin-top: 15;
    font-size: 8vw;
  }
  body .infor .tarjetas {
    display: flex;
    flex-direction: column;
  }
  body .infor .tarjetas .card {
    margin-top: 5;
    font-size: 4vw;
  }
  body .widget {
    margin-top: 15;
  }
  body .widget h3 {
    font-size: 6vw;
  }
  body .widget iframe {
    height: 300;
  }
  body footer {
    position: relative;
    bottom: 0;
  }
  body footer button {
    display: none;
  }
  body footer .info {
    text-align: center;
    font-size: 5vw;
  }
  /*index*/
  /*SERVICIOS*/
  .serv-main {
    display: flex;
    flex-direction: column;
  }
  .serv-main ul {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10;
  }
  .serv-main ul li {
    width: 100%;
    font-size: 6vw;
    padding: 10;
  }
  .serv-main .bf corte img {
    width: 500vw;
  }
  .serv-main .bf .info-barber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }
  /*SERVICIOS*/
  /*quienes somos*/
  .qs-main {
    display: flex;
    flex-direction: column;
  }
  .qs-main img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .qs-main h2 {
    font-size: 8vw;
    padding-left: 5;
    padding-right: 5;
  }
  .qs-main p {
    font-size: 5.5vw;
    padding-top: 0;
    padding-bottom: 0;
  }
  .qs-aside {
    padding-top: 0;
  }
  .qs-aside h3 {
    text-align: center;
    padding-left: 20;
    padding-right: 20;
    font-size: 8vw;
  }
  /*quienes somos*/
  /*peluqeuros*/
  .p-main {
    display: flex;
    flex-direction: column;
  }
  .p-main img {
    width: 100%;
  }
  .p-main .t-p h2 {
    font-size: 8vw;
  }
  .p-main .t-p p {
    font-size: 4vw;
  }
  .p-aside {
    margin-top: 0;
  }
  .p-div {
    margin-top: 25;
  }
  .p-div h2 {
    font-size: 8vw;
  }
  .p-div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-div ul li {
    font-size: 7vw;
  }
  /*peluqueros*/
}

/*# sourceMappingURL=styles.css.map */
