
@media screen and (max-width: 768px){  
    /*index*/ 
    body{
        /*header-navbar*/
        header{
            nav{
                .toggle-menu{
                    position: fixed;
                    display: flex;
                    width: 35px;
                    z-index: 1000;
                }
                .menu{
                    position: fixed;
                    top: 0;
                    flex-direction: column;
                    transition: transform 0.3s;
                    transform: translateX(500%);
                    font-size: 7vw;

                    .logo{
                        width: 25vw;
                    }
                }

                .menu--show{
                    transform: translateX(0);
                }
            }
        }
        /*header-navbar*/

        /*video/frase*/
        main{
            margin-top:60 ;
            .video{
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    width: 470;
                    height: 250;
                    margin-left: 25px;
                    margin-right: 25px;
                }
                
            }

        }
        /*video/frase*/

        /*carrusel*/
        aside{
            margin-top: 25;
            img{
                display: flex;
                justify-content: center;
                width: auto;
                height: 500;
                padding-left: 37px;
                padding-right: 37px;
                
            }
            p{
                position: relative;
                font-size: 18px;
            }
        }
        /*carrusel*/

        /*tarjetas*/
        .infor{
            h3{
                margin-top: 15;
                font-size: 8vw;
            }
            .tarjetas{
                display: flex;
                flex-direction: column;
                .card{
                    margin-top: 5;
                    font-size: 4vw;
                }
            }
        }
        /*tarjetas*/

        /*mapa*/
        .widget{
            margin-top: 15;
            h3{
                font-size: 6vw;
            }
            iframe{
                height: 300;
            }
        }
        /*mapa*/

        /*footer*/
        footer{
            position: relative;
            bottom: 0;
            button{
                display: none;
            }
            .info{
                text-align: center;
                font-size: 5vw;

            }
        }
        /*footer*/
    }
    /*index*/

    /*SERVICIOS*/
    .serv-main{
        display: flex;
        flex-direction: column;
        ul{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 10;
            li{
                width: 100%;
                font-size: 6vw;
                padding: 10;
            }
        }
        .bf{
            corte{
                img{
                    width: 500vw;
                }
            }
            .info-barber{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 5vw;
                
            }
        }
    }
    /*SERVICIOS*/

    /*quienes somos*/
    .qs-main{
        display: flex;
        flex-direction: column;
        img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        h2{
            font-size: 8vw;
            padding-left: 5;
            padding-right: 5;
        }
        p{
            font-size: 5.5vw;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .qs-aside{
        padding-top: 0;
        h3{
            text-align: center;
            padding-left: 20;
            padding-right: 20;
            font-size: 8vw;
        }

    }
    /*quienes somos*/

    /*peluqeuros*/
    .p-main{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        .t-p{
            h2{
                font-size: 8vw;
            }
            p{
                font-size: 4vw;
            }
        }
    }
    .p-aside{
        margin-top: 0;
    }
    .p-div{
        margin-top: 25;
        h2{
            font-size: 8vw
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                font-size: 6vw;
            }
        }
    }
    /*peluqueros*/

    /*contactanos*/
    .main-c{
        .inf-con{
            display: flex;
            flex-direction: column;
        }
        p{
            font-size: 4vw;
        }
    }
    /*contactanos*/
}





