/*carrusel*/
aside{
    padding: 20;
    display: flex;
    flex-direction: column;
    img{            
        display: flex;
        justify-content: center;
        height: 800;
        min-width: 250;
        padding-left: 200;
        padding-right: 200;
        
    }
    p{
        min-width: 100; 
        font-size: $size-parrafo;
        margin-top: 60;
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
}
    /*carrusel*/