/*carrusel*/
aside{
    margin-top: 100;
    display: flex;
    flex-direction: column;
    img{            
        display: flex;
        justify-content: center;
        height: 800;
        min-width: 250;
        padding-left: 150;
        padding-right: 150;
        
    }
    p{
        min-width: 100; 
        font-size: 2vw;
        margin-top: 60;
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
}
    /*carrusel*/