header{
    nav{
        .toggle-menu{
            position: absolute;
            display: none;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            width: 50px;
        }
        .menu{
            position: relative;
            width: 100%;
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $color-terciario;
            z-index: 100;
            font-size: 1.25vw;
                
            li{
                padding: 1em;
            }

            .logo{
                width: 3.75vw;
            }
        }
    }
}