/*index*/
/*video/frase*/
main{
    h1{
            color: $color-secundario;
            font-size: $size-titulo;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            margin-left: 50px;
            margin-right: 50px;
    }    
    .video{
            display: flex;
            justify-content: center;
            align-items: center;
            iframe{
                border-radius: 5rem;
                @include borde;
                width: 1250px;
                height: 750px;
                margin-left: 50px;
                margin-right: 50px;
            }
    }
}
    /*video/frase*/
    /*index*/

    /*servicios*/
    .serv-main{
        display: flex;
        
        ul{
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: $color-terciario;
            border-radius: 0.5rem;
            padding: 0.25rem;
            box-sizing: border-box;
            list-style: none;
            margin-top: 10;
            margin-left: 10;
            li{
                width: 10vw;
                text-align: center;
                font-size: 3vw;
                padding: 3.5rem 0;
                &:hover{
                    border-bottom: 2.5px solid $color-secundario;
                }
            }
        }
            
          }
    
        .bf{
            .corte{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 35vw;
                }
    
              }
    
              .info-barber{
                color: $color-secundario;
                padding-left: 10;
                padding-right: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h2{
                    font-size: $size-titulo;
                }
                p{
                    font-size: 4vw;
                }
              }
        }
    
    /*servicios*/  
    /*quienes somos*/
        .qs-main{
            display: flex;
            margin-top: 10;
            img{
                width: 50vw;
                padding: 20;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h2{
                color: $color-secundario;
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: $size-titulo;
                padding-left: 25;
                padding-right: 25;
            }
            p{
                color: $color-secundario;
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: $size-parrafo;
                padding: 30;
            }
        }
        
    /*quienes somos*/

    /*peluqueros*/
    .p-main{
        display: flex;
        padding: 20;
        img{
            width: 60%;
            z-index: -10;
        }   
        .t-p{
            h2{
                color: $color-secundario;
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: $size-titulo;
                padding-left: 10;
                padding-right: 10;
            }
            p{
                color: $color-secundario;
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 2vw;
                padding-left: 20;
                padding-right: 20;
                
            }
        }
    }

    .p-aside{
        margin-top: 100;
    }
    .p-div{
        margin-top: 100;
        h2{
            color: $color-secundario;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 5vw;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            li{
                font-size: 4vw;
                button{
                    @include boton
                }
            }
        }
    }
    /*peluqueros*/

    /*contactanos*/
    .main-c{
        padding: 10;
        color: $color-secundario;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            @include imagen;
        }
        h2{
            font-size: $size-titulo;
        }
        .inf-con{
            display: flex;
            flex-direction: row;
            padding: 20;
            text-align: center;
            font-size: $size-parrafo;
        }
    }
    
    /*contactanos*/