/*tarjetas*/
.infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        margin-top: 100;
        font-size: 5vw;
    }
    .tarjetas{
        margin-top: 10;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .card {
            width: 17em;
            height: 22.5em;
            background: #000000;
            transition: 1s ease-in-out;
            clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-direction: column;
            margin-left: 50;
            margin-right: 50;
            font-size: 1.2vw;
            span {
                font-weight: bold;
                color: $color-secundario;
                text-align: center;
                display: block;
                font-size: 1em;
            }
            .info {
                font-weight: 400;
                color: $color-secundario;
                display: block;
                text-align: center;
                font-size: 0.72em;
                margin: 1em;
            }
            .img {
                width: 4.8em;
                height: 4.8em;
                background: $color-secundario;
                border-radius: 15px;
                margin: auto;
            }
            .share {
                margin-top: 1em;
                display: flex;
                justify-content: center;
                gap: 1em;
            }
            a {
                color: $color-secundario;
                transition: .4s ease-in-out;
                }
            }
            button {
                padding: 0.8em 1.7em;
                display: block;
                margin: auto;
                border-radius: 25px;
                border: none;
                font-weight: bold;
                background: #ffffff;
                color: rgb(0, 0, 0);
                transition: .4s ease-in-out;
            }
    }
}   
/*tarjetas*/   