        /*mapa*/
        .widget{
            margin-top: 100;
            margin-left: 50;
            margin-right: 50;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #fff;
                font-size: 2vw;
            }
            iframe{
                width: 100%;
                
            }                
        }
        /*mapa*/